@import '../../index.scss';

.upFile {
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
}

.imageUpload {
  fill: $tBlue;
}
.imageButton {
  width: 20px;
  height: 20px;
}