@import '../../index.scss';

.birthdayInput {
  composes: input from '../../common.module.scss';
  margin-top: 10px;
  height: 60px;
  touch-action: none;
}

.birthdayTitleItem {
  color: $tBlue;
}

.birthdayPlaceholder {
  height: 30px;
  line-height: 30px;
  font-size: 15px;
}

.datepickerIcon {
  height: 20px;
  float: right;
}